.about-container{
    width: 100%;
    padding: 30px 0;
    color: #555;
}
.about-warp{
    padding: 30px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(38,42,48,.1);
}
.about-warp > div{
    padding: 0 30px;
}
.about-title{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}
.center{
    text-align: center;
}
.about-content h2{
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}
.about-content h2,.about-content h4{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.about-content ul li{
    list-style: disc;
}
.about-content ul{
    padding-left: 36px;
}
.link-hover{
    cursor: pointer;
}
.link-hover:hover{
    color: #171a20;
    transition: color .3s;
}
.pro-introduction{
    font-size: 14px;
    line-height: 24px;
}