.active a{
    color: #007fff;
}
.container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    animation: show-container 0.6s;
}
@keyframes show-container {
    0% {
        margin-top: -5px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}
.main-container .container{
    align-items: flex-start;
}
.nav-list{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    margin: 0;
}
.nav-item{
    color: #71777c;
    padding: 0 1.2rem;
    font-size: 14px;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.nav-item>a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.nav-item:hover > a{
    color: #007fff;
}
.main-container{
    height: calc(100vh - 60px);
    background-color: #f0f0f00d;
}
.top{
    position: fixed;
    top: 0;
    width: 100%;
}
.fs24{
    font-size: 24px;
}

::-webkit-scrollbar-track-piece {
    background-color:#f8f8f8;
}
::-webkit-scrollbar {
    width:9px;
    height:9px;
}
::-webkit-scrollbar-thumb {
    background-color:#dddddd;
    border-radius: 15px;
    min-height:28px;
}